<div class="subhead">
  <h4>Edit Color</h4>
</div>

<h4><%= @color.hex_code %></h4>

<%= form_for(@color) do |f| %>
<div class="form2">
  <div class="field3">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </div>

  <div class="actions">
    <%= f.submit "Update Color"%>
  </div>
</div>
<% end %>
