<h1>COLORS!!!!</h1>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.first_name %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% @colors.each do |color| %>
  <p><%= link_to "##{color.hex_code}", color %>, "<%= color.nickname %>"</p>
<% end %>
