<% if user_signed_in? && current_user.admin? %>
  <%= link_to "See All Users", users_path %>
<% end %>

<% if user_signed_in? %>
  <div class="username" style="background-color:<%= @rand_color.hex_code %>;color:<%= @text_color %>;">
    <h1><%= current_user.first_name %>'s Colors</h1>
  </div>
  <% if user_signed_in? %>
    <div class="boxes" style="background-color:#FFFFFF;">
      <h2 id="super"><%= link_to "+", new_color_path %></h2>
    </div>
  <% end %>
<% else %>
<div id="app"></div>
<% end %>

<% @search_colors.each do |color| %>
  <% if current_user == color.user %>
    <div class="boxes" style="background-color:<%= color.hex_code %>;">
      <h1><a style="color: <%= color.text_color(color.hex_code) %>;"
   href="colors/<%= color.id %>"><%= color.hex_code %></a></h1>
      <p><%= color.nickname %></p>
    </div>
  <% end %>
<% end %>

<div class="subhead">
  <h4>All Colors:</h4>
</div>

<% @search_colors.each do |color| %>
    <div class="boxes" style="background-color:<%= color.hex_code %>;">
      <h1><a style="color: <%= color.text_color(color.hex_code) %>;"
   href="colors/<%= color.id %>"><%= color.hex_code %></a></h1>
   <% if user_signed_in? && current_user.admin? %>
     <%= link_to 'Delete Color', color, method: :delete %>
   <% end %>
      <p><%= color.nickname %></p>
    </div>
<% end %>
