<h1>COLORS!!!!</h1>
<div id="app"> </div>

<% if user_signed_in? && current_user.admin? %>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.first_name %> <%= user.last_name %></li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <p><%= link_to "Add a new color", new_color_path %></p>
<% end %>

<% @recent_reviews.each do |color| %>
  <p><%= color.hex_code %>, created at: <%= color.reviews.last.created_at %> </p>
  <p>  <%= link_to 'Color Page', color %> <%= color.reviews.last.body %> </p>
<% end %>

<% @colors.each do |color| %>
  <p><%= link_to color.hex_code, color %>, "<%= color.nickname %>"</p>
<% end %>
