<h1><%= @color.hex_code %></h1>

<% if user_signed_in? %>
  <%= link_to 'Edit Color', edit_color_path(@color) %>
  <% if current_user.id == review.user_id && current_user.admin? %>
    |
  <% end %>
  <% if current_user.admin? %>
   <%= link_to 'Delete Color', @color, method: :delete %>
  <% end %>
<% end %>

<% if @color.nickname != nil %>
  <p>Nickname: <%= @color.nickname %></p>
<% end %>

<% if user_signed_in? %>
  <%= form_for [ @color, @review ] do |f| %>
    <div class="field">
      <%= f.label :rating %>
      <%= f.select :rating, @review_ratings %>
    </div>

    <div class="field">
      <%= f.label :body, "Review" %>
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit value="Submit Review" %>
    </div>

  <% end %>
<% end %>

<h3>Reviews will go here.</h3>
<% @color.reviews.each do |review| %>
  <% if user_signed_in? %>
    <% if current_user.id == review.user_id %>
      <%= link_to "Edit Review", edit_review_path(review) %>
    <% end %>
    <% if current_user.id == review.user_id && current_user.admin? %>
      |
    <% end %>
    <% if current_user.admin? %>
      <%= link_to "Delete Review", review, method: :delete %>
    <% end %>
  <% end %>
  <p>Rating: <%= review.rating %></p>
  <p>Review: <%= review.body %></p>
  <p><%= review.created_at.strftime("%B %d, %Y") %></p>
  <hr/>
<% end %>

<%= link_to 'Home', colors_path %>
