<div class="username" style="background-color:<%= @color.hex_code %>; color:<%= @text_color %>;">
  <h1><%= @color.hex_code %></h1>
    <% if @color.nickname != nil %>
    <h3><%= @color.nickname %></h3>
  </div>
<% end %>

<% if user_signed_in? %>
  <% if current_user == @color.user %>
    <%= link_to 'Edit Color', edit_color_path(@color) %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= form_for [ @color, @review ] do |f| %>
    <div class="field">
      <%= f.label :rating %>
      <%= f.select :rating, @review_ratings %>
    </div>

    <div class="field">
      <%= f.label :body, "Review" %>
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit value="Submit Review" %>
    </div>
  <% end %>
<% end %>

<h4>Reviews</h4>
<% @color.reviews.each do |review| %>
  <% if user_signed_in? %>
    <% if current_user == review.user %>
      <%= link_to "Edit Review", edit_review_path(review) %>
    <% end %>
  <% end %>
  <p>Rating: <%= review.rating %></p>
  <p>Review: <%= review.body %></p>
  <p><%= review.created_at.strftime("%B %d, %Y") %></p>
  <hr/>
<% end %>
