<!DOCTYPE html>
<html>
  <head>
    <title>ColorReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="callout <%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
