<!DOCTYPE html>
<html>
  <head>
    <title>color_coder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.first_name %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | <%= link_to 'Home', colors_path %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %> | <%= link_to 'Home', colors_path %>
      <% end %>
     <%= render "colors/search" %>
    <%= yield %>

    </p>

  </body>
</html>
